body {
    font-family: 'Orbitron', sans-serif;
    background-image: url("https://www.tokkoro.com/picsup/5046003-darth-maul-obi-wan-kenobi-qui-gon-jinn.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: absolute;
    background-size: cover;
    margin: 0;
    color: #ffe81f ;
}

h1 {
    font-weight: bolder;
}

#obiWan {
    background-color: blue;
    color: white;
}

#luke {
    background-color: green;
    color: white;
}

#darthSidious {
    background-color: red;
    color: white;
}

#darthMaul {
    background-color: orange;
    color: white;
}