body {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 4px 4px 8px #000000;
    background-image: url("https://wallpaperplay.com/walls/full/b/e/4/124178.jpg#.XV3Neweqwg4.link");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    color: #ffe81f;
    font-weight: bold;
}

h1 {
    font-weight: bolder;
}

#obiWan {
    background-color: blue;
    color: white;
}

#luke {
    background-color: green;
    color: white;
}

#darthSidious {
    background-color: maroon;
    color: white;
}

#darthMaul {
    background-color: orange;
    color: white;
}

#winCount, #lossCount{
    padding: 0 5px 0 5px;
    background-color: #000000;
    border: 1px #ffe81f solid;
    border-radius: 4%;
}

#message {
    padding: 0 5px 0 5px;
    font-size: 20px;
    color: #ffe81f;
    background-color: black;
    text-shadow: none;
}

@media (max-width: 980px) {
    #obiWanImage{
        display: none;
    }

    #lukeImage{
        display: none;
    }

    #darthSidiousImage{
        display: none;
    }

    #darthMaulImage{
        display: none;
    }
    
    #message {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #obiWanImage{
        display: none;
    }

    #lukeImage{
        display: none;
    }

    #darthSidiousImage{
        display: none;
    }

    #darthMaulImage{
        display: none;
    }
    
    #message {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    #obiWanImage{
        display: none;
    }

    #lukeImage{
        display: none;
    }

    #darthSidiousImage{
        display: none;
    }

    #darthMaulImage{
        display: none;
    }

    #message {
        font-size: 14px;
    }
}